/* :root {
  --pattern-fg: #f2f2f2;
} */

body {
  --color-text: black;
  --color-background: white;
  --color-border: #e7e4e4;
  --color-accordion-background: white;
  --color-accordion-hover: #f1f1f1;
  --color-accordion-border: #e7e4e4;
  --color-banner: #f6f6f6;
  --color-pattern: #f2f2f2;
  background-color: var(--color-background);
  --height-navbar: 4.5rem;
  --height-banner: 2.5rem;
}

.dark-mode {
  --color-text: white;
  --color-background: #070707;
  --color-border: #121212;
  --color-accordion-background: #121212;
  --color-accordion-hover: #181818;
  --color-accordion-border: #232323;
  --color-banner: #0d0d0d;
  --color-pattern: rgb(19, 19, 19);
  background-color: var(--color-background)
}

::selection {
  color: white;
  background: #f92aae;
}

.active-state:active {
	outline: solid 2px #165dfc;
	outline-offset: 2px;
}

.container {
  max-width: 1184px;
  margin-inline: auto;
}

.heading-hero {
  font-size: clamp(2.5rem, 4vw, 4rem);
  font-weight: 600;
  letter-spacing: -2px;
  text-align: center;
  line-height: clamp(2.5rem, 4vw, 4rem);
}

.heading {
  font-size: clamp(2rem, 4vw, 2.5rem);
  font-weight: 600;
  letter-spacing: -1px;
  line-height: clamp(2rem, 4vw, 2.5rem);
}

.paragraph-hero {
  font-size: clamp(0.875rem, 4vw, 1rem);
  font-weight: 400;
  text-align: center;
  line-height: 1.5rem;
}

.paragraph {
  font-size: clamp(0.875rem, 4vw, 1rem);
  font-weight: 400;
  line-height: 1.5rem;
}

.tagline {
  font-size: clamp(0.875rem, 4vw, 1rem);
  font-weight: 400;
  color: #f92aae;
  line-height: 1.5rem;
}

.label {
  font-size: clamp(0.875rem, 4vw, 1rem);
  font-weight: 600;
}

.padding-section {
  padding-block: clamp(4rem, 10vw, 8rem);
}