  /* Color variables */
:root {
	--color-primary: #165dfc;
	--color-secondary: #f92aae;
}

/* Light mode variables */
.light-mode {
  --color-background: #ffffff;
  --color-text: #000000;
  --color-border: #e7e4e4;
  --color-banner: #f6f6f6;
  --color-pattern: #f2f2f2;
  --color-accordion-background: white;
  --color-accordion-hover: #f1f1f1;
  --color-accordion-border: #e7e4e4;
}

/* Dark mode variables */
.dark-mode {
  --color-background: #000000;
  --color-text: #ffffff;
  --color-border: #121212;
  --color-banner: #0d0d0d;
  --color-pattern: #131313;
  --color-accordion-background: #121212;
  --color-accordion-hover: #181818;
  --color-accordion-border: #232323;

}

/* Body styles */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  border-color: var(--color-border);
  --height-navbar: 4.5rem;
  --height-banner: 2.5rem;
}

/* Global styles for different elements */
::selection {
  color: white;
  background: #f92aae;
}

.active-state:active {
	outline: solid 2px #165dfc;
	outline-offset: 2px;
}

/* Container width */
.container {
  max-width: 1184px;
  margin-inline: auto;
}

/* Heading only for the hero */
.heading-hero {
  font-size: clamp(2.5rem, 4vw, 4rem);
  font-weight: 600;
  letter-spacing: -2px;
  text-align: center;
  line-height: clamp(2.5rem, 4vw, 4rem);
}

/* Heading only for the card */
.heading-card {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;

}

/* Global heading */
.heading {
  font-size: clamp(2rem, 4vw, 2.5rem);
  font-weight: 600;
  letter-spacing: -1px;
  line-height: clamp(2rem, 4vw, 2.5rem);
}

/* Paragraph only for the hero */
.paragraph-hero {
  font-size: clamp(0.875rem, 4vw, 1rem);
  font-weight: 400;
  text-align: center;
  line-height: 1.5rem;
}

/* Global paragraph */
.paragraph {
  font-size: clamp(0.875rem, 4vw, 1rem);
  font-weight: 400;
  line-height: 1.5rem;
}

/* Tagline for the USP section */
.tagline {
  font-size: clamp(0.875rem, 4vw, 1rem);
  font-weight: 400;
  color: #f92aae;
  line-height: 1.5rem;
}

/* Label for login form */
.label {
  font-size: clamp(0.875rem, 4vw, 1rem);
  font-weight: 600;
}

/* Global padding for sections */
.padding-section {
  padding-block: clamp(4rem, 10vw, 8rem);
}

/* Sizes */
@theme {
	--text-h1: clamp(3rem, 2.274rem + 3.226vw, 5rem); /* 48px - 80px */
	--text-h1--line-height: 1;
	--text-h1--font-weight: 700;
	--text-h2: clamp(2.5rem, 1.956rem + 2.419vw, 4rem); /* 40px - 64px */
	--text-h2--line-height: 1;
	--text-h2--font-weight: 700;
	--text-h3: clamp(2rem, 1.456rem + 2.419vw, 3.5rem); /* 32px - 56px */
	--text-h3--line-height: 1;
	--text-h3--font-weight: 500;
	--text-h4: clamp(1.75rem, 1.478rem + 1.21vw, 2.5rem); /* 28px - 40px */
	--text-h4--line-height: 1;
	--text-h4--font-weight: 500;
	--text-h5: clamp(1.25rem, 0.978rem + 1.21vw, 2rem); /* 20px - 32px */
	--text-h5--line-height: 1;
	--text-h5--font-weight: 500;
	--text-h6: clamp(1.25rem, 1.159rem + 0.403vw, 1.5rem); /* 20px - 24px */
	--text-h6--line-height: 1;
	--text-h6--font-weight: 500;
	--text-label: clamp(1rem, 0.909rem + 0.403vw, 1.25rem); /* 16px - 18px */
	--text-label--line-height: 1;
	--text-paragraph: 1rem;
	--text-paragraph--line-height: 1.5;
	--text-small: 0.875rem;
	--text-small--line-height: 1;
}

/* Colors */
@theme {
	--color-red-*: initial;
	--color-orange-*: initial;
	--color-amber-*: initial;
	--color-yellow-*: initial;
	--color-lime-*: initial;
	--color-green-*: initial;
	--color-emerald-*: initial;
	--color-teal-*: initial;
	--color-cyan-*: initial;
	--color-sky-*: initial;
	--color-blue-*: initial;
	--color-indigo-*: initial;
	--color-violet-*: initial;
	--color-purple-*: initial;
	--color-fuchsia-*: initial;
	--color-pink-*: initial;
	--color-rose-*: initial;
	--color-slate-*: initial;

	/* --color-gray-*: initial; */
	--color-zinc-*: initial;
	--color-neutral-*: initial;
	--color-stone-*: initial;

	/* Primary */
	--color-primary: var(--color-primary-700);
	--color-primary-50: oklch(97.9% 0.021 166.113deg);
	--color-primary-100: oklch(95% 0.052 163.051deg);
	--color-primary-200: oklch(90.5% 0.093 164.15deg);
	--color-primary-300: oklch(84.5% 0.143 164.978deg);
	--color-primary-400: oklch(76.5% 0.177 163.223deg);
	--color-primary-500: oklch(69.6% 0.17 162.48deg);
	--color-primary-600: oklch(59.6% 0.145 163.225deg);
	--color-primary-700: oklch(50.8% 0.118 165.612deg);
	--color-primary-800: oklch(43.2% 0.095 166.913deg);
	--color-primary-900: oklch(37.8% 0.077 168.94deg);
	--color-primary-950: oklch(26.2% 0.051 172.552deg);

	/* Secondary */
	--color-secondary: var(--color-secondary-600);
	--color-secondary-50: oklch(98.7% 0.022 95.277deg);
	--color-secondary-100: oklch(96.2% 0.059 95.617deg);
	--color-secondary-200: oklch(92.4% 0.12 95.746deg);
	--color-secondary-300: oklch(87.9% 0.169 91.605deg);
	--color-secondary-400: oklch(82.8% 0.189 84.429deg);
	--color-secondary-500: oklch(76.9% 0.188 70.08deg);
	--color-secondary-600: oklch(66.6% 0.179 58.318deg);
	--color-secondary-700: oklch(55.5% 0.163 48.998deg);
	--color-secondary-800: oklch(47.3% 0.137 46.201deg);
	--color-secondary-900: oklch(41.4% 0.112 45.904deg);
	--color-secondary-950: oklch(27.9% 0.077 45.635deg);
}