:root {
  --pattern-fg: #f2f2f2;
  --color-border: #e4e4e7;
  --color-primary: #090f21;
  --color-primary-border: #121c2f;
  --color-primary-dark: #ffffff;
  --color-secondary: #ff009e;
  --color-secondary-border: #f00094;
  --color-secondary-dark: #000000;
}

.container {
  max-width: 1400px;
  margin-inline: auto;
}