:root {
  --pattern-fg: #f2f2f2;
  --color-border: #e4e4e7;
  --color-primary: #090f21;
  --color-primary-border: #121c2f;
  --color-primary-dark: #ffffff;
  --color-secondary: #ff009e;
  --color-secondary-border: #f00094;
  --color-secondary-dark: #000000;
}

::selection {
  color: white;
  background: #00bcff;
}

.container {
  max-width: 1184px;
  margin-inline: auto;
}

.heading-hero {
  font-size: clamp(2.5rem, 4vw, 4rem);
  font-weight: 600;
  color: black;
  letter-spacing: -2px;
  text-align: center;
  line-height: clamp(2.5rem, 4vw, 4rem);
}

.heading {
  font-size: clamp(2rem, 4vw, 2.5rem);
  font-weight: 600;
  color: black;
  letter-spacing: -1px;
  line-height: clamp(2rem, 4vw, 2.5rem);
}

.paragraph-hero {
  font-size: clamp(0.875rem, 4vw, 1rem);
  font-weight: 400;
  color: black;
  text-align: center;
  line-height: 1.5rem;
}

.paragraph {
  font-size: clamp(0.875rem, 4vw, 1rem);
  font-weight: 400;
  color: black;
  line-height: 1.5rem;
}

.tagline {
  font-size: clamp(0.875rem, 4vw, 1rem);
  font-weight: 400;
  color: #FF2C00;
  line-height: 1.5rem;
}

.label {
  font-size: clamp(0.875rem, 4vw, 1rem);
  color: black;
  font-weight: 600;
}

.padding-section {
  padding-block: clamp(4rem, 10vw, 8rem);
}