:root {
  --pattern-fg: #f2f2f2;
  --color-border: #e4e4e7;
  --color-primary: #090f21;
  --color-primary-border: #121c2f;
  --color-primary-dark: #ffffff;
  --color-secondary: #00dc81;
  --color-secondary-border: #00d07a;
  --color-secondary-dark: #0e172b;
}

.container {
  max-width: 1400px;
  margin-inline: auto;
}